body{
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #fff;
}
.header-svg{
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.header-svg:hover{
     transform: scale(1.1);
     transition: transform 0.3s ease;
}
.footerTxt{
    color: #fff;
    font-size: 16px;
    margin-top: 24px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
}
.desen{
    margin-left: 930px;
    gap: 10px;
}
.footerSlash svg{
    position: relative;
    left: 20px;
    right: 10px;
    margin-top: 100px;
}

.section-first{
    display: flex;
    align-items: center;
}
.descriptionBox{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 200;
}
.name{
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 30px;
}
.typeBox {
    display: block;
    align-items: center;
    gap: 10px;
}

.date, .number,.countOfPersonages {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.countOfPersonages{
    margin-top: 50px;
}
.descriptionBox svg{
    width: 32px;
    height: 32px;
}

.section-second-topic-svg{
    width: 48px;
    height: 48px;
}
.section-second-topic-box{
    display: inline-flex;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    gap: 15px;
}
.section-first{
    margin-bottom: 50px;
}
.section-first{
    display: block;
    margin-top: 50px;
}
.episode-svg{
    margin-left: 50px;
}
.episode-card-box{
    width: 235px;
    height: 96px;
    border-radius: 16px;
    background-color: #1A1A1A;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12px;
    gap: 20px;
}
.episodeNameNumBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

.episodeSaibaMais{
    background-color: #313234;
    width: 100px;
    height: 26px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}
.episodeSaibaMais.active{
    background-color: #11B0C8;
    color: #fff;
}
.episodeButtonsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}
.episodeBox{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: 10px;
 margin: 5px;
}
.paginationEpisode{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px 50px;
}
.paginationButtonEpisode{
   background-color: transparent;
   border: 1px #ffffff solid;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor: pointer; 
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.paginationButtonEpisode.active{
    background-color: #11B0C8;
    color: #fff;
}
.preFooterSvg{
    margin-left: 50px;
}
