body{
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #fff;
    overflow-x: hidden;
}
.header-svg{
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header-svg:hover{
     transform: scale(1.1);
     transition: transform 0.3s ease;
}
.footerTxt{
    color: #fff;
    font-size: 16px;
    margin-top: 24px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
}
.desen{
    margin-left: 930px;
    gap: 10px;
}
.footerSlash svg{
    position: relative;
    left: 20px;
    right: 10px;
    margin-top: 100px;
}
.main-photo img{
    max-width: 100%;
    height: auto;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
}
.section-first{
    display: flex;
    align-items: center;
}
.descriptionBox{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: -50px;
    font-size: 24px;
    font-weight: 200;
}
.name{
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 50px;
}
.typeBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.liveStatus,
.species,
.gender {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.descriptionBox svg{
    width: 32px;
    height: 32px;
}
.episodesBox{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 50px;
}.personagens-card-box{
    width: 100%;
    height: 400px;
    background-color: #1A1A1A;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.personagens-card-box.active{
    background-color: #313234; 
}
.personagens-card-box img{
    width: 262px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
}
.personagens-card-box svg{
    background-color: transparent;
}
.firstAndLastName{
    padding-bottom: 16px;
}
.saibaMais{
    background-color: #313234;
    width: 115px;
    height: 32px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 20px;
    left: 150px;
    color: #fff;
    cursor: pointer;
}
.saibaMais.active{
    background-color: #11B0C8;
    color: #ffffff;
}
.personagensBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.paginationCharacter-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px 50px;
}
.paginationButtonCharacter,.prev,.next {
   background-color: transparent;
   border: 1px #ffffff solid;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor: pointer; 
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
}
.prev,.next{
    border: none;
}
.prev svg,.next svg{
    color: #fff;
}
.paginationButtonCharacter.active {
    background-color: #11B0C8;
    color: #fff;
}
.section-second-topic-svg{
    width: 48px;
    height: 48px;
}
.section-second-topic-box{
    display: inline-flex;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    gap: 15px;
}
.section-first{
    margin-bottom: 50px;
}
.local{
    width: 147px;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    border-radius: 16px;
    align-items: center;
    color: #fff;
    gap: 25px;
    font-size: 12px;
    margin-left: 100px;
    position: absolute;
    left: 800px;
    top: 300px;
    font-size: 16px;
}
.svg-planet{
 background-color: transparent;
 position: relative;
 top: -25px;
}
.svg-planet svg{
   background-color: transparent; 
}
.planetName{
    color: #11B0C8;
    margin-left: 10px;
}
.planetSaibaMais{
    background-color: #313234;
    width: 115px;
    height: 32px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
}
.planetSaibaMais svg{
    background-color: transparent;
}
.preFooterSvg{
    margin-left: 50px;
}
