body{
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #fff;
}
.header-svg{
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.header-svg:hover{
     transform: scale(1.1);
     transition: transform 0.3s ease;
}
.footerTxt{
    color: #fff;
    font-size: 16px;
    margin-top: 24px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
}
.desen{
    margin-left: 930px;
    gap: 10px;
}
.footerSlash svg{
    position: relative;
    left: 20px;
    right: 10px;
    margin-top: 100px;
}

.section-first{
    display: flex;
    align-items: center;
}
.descriptionBox{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 200;
}
.name{
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 30px;
}
.typeBox {
    display: block;
    align-items: center;
    gap: 10px;
}

.planet, .dimension,.countOfPersonages {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.countOfPersonages{
    margin-top: 50px;
}

.descriptionBox svg{
    width: 32px;
    height: 32px;
}
.section-first{
    margin-bottom: 50px;
}
.section-first{
    display: block;
    margin-top: 50px;
}
.location-svg svg{
    margin-left: 50px;
}
.local{
    width: 147px;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    border-radius: 16px;
    align-items: center;
    margin-top: 80px;
    margin-left: 10px;
    position: relative;
    color: #fff;
    gap: 15px;
    font-size: 12px;
}
.svg-planet{
 background-color: transparent;
 position: relative;
 top: -25px;
}
.svg-planet svg{
   background-color: transparent; 
}
.planetName{
    color: #11B0C8;
    margin-left: 10px;
}
.planetSaibaMais{
    background-color: #313234;
    width: 115px;
    height: 32px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
}
.planetSaibaMais svg{
    background-color: transparent;
}
.localBox{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-left: 10px;
}
.paginationLocal-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px 50px;
}
.paginationButtonLocal,.prevLocal,.nextLocal{
   background-color: transparent;
   border: 1px #ffffff solid;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor: pointer; 
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}
.prevLocal,.nextLocal{
    border: none;
}
.paginationButtonLocal.active{
    background-color: #11B0C8;
    color: #fff;
}
.preFooterSvg{
    margin-left: 50px;
}
