body.claro{
    background-color: #ffffff;
    color: #000000;
}
body.claro .personagens-card-box,
body.claro .local,
body.claro .episode-card-box{
    background-color: #F9F9F9;
    color: #313234;
}
body.claro .header-body,
body.claro .filtrar,
body.claro .filterBox button{
    background-color: #ffffff;
    color: #313234;
}
body.claro .type,body.claro .planet{
    color: #000000;
}
body.claro .headerImg img{
    width: 435px;
    height: 434px;
    background-color: transparent;
    display: flex;
    padding-left: 100px;
}
body.claro .saiba{
    display: block;
    width: 400px;
}

body.claro .lista{
margin-top: 50px;
width: 95px;
position: relative;
right: -100px;
top: -150px;
}
body.claro .topic-personagens,
body.claro .topic-episode,
body.claro .topic-local,
body.claro .footerTxt,
body.claro.searchBox svg,
body.claro .episodeSaibaMais svg{
    color: #313234
}
body.claro .paginationButtonCharacter,
body.claro .paginationButtonEpisode,
body.claro .paginationButtonLocal {
   border: 1px #313234 solid;
   color: #313234;
}


body.claro .searchBox,
body.claro .main-body,
body.claro.searchBox svg{
 background-color: #ffffff;
}

body.claro .searchBox input{
 background-color: #ffffff;
 color: #313234;
  border: 1px #313234 solid;
}
body.claro .searchBox svg{
    background-color: transparent;
    color: #313234;
}

body.claro .lightMode,
body.claro .darkMode,
body.claro .filterBox {
    color: #313234;
}
body.claro .lightMode .active,
body.claro .darkMode .active{
    background-color: #11B0C8;
}
body.claro .personagens{
    display: flex;
    width: 200px;
}
body.claro .saibaMais,
body.claro .episodeSaibaMais,
body.claro .planetSaibaMais{
    background-color: transparent;
    color: #313234;
}
body.claro .lightMode{
    background-color: #11B0C8;
}
body.claro .darkMode{
background-color: transparent;
}
body.claro .prev,body.claro .next,
body.claro .nextLocal,body.claro .prevLocal,
body.claro .scrollUp{
    color: #313234;
}
