body {
    background-color: #313234;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header-body{
    display: flex;
    align-items: center;
    color: #fff;
   padding-left: 141px;
  height: 400px;
  background-color: #000000;
  padding-bottom: 100px;
}

.headerImg img{
    width: 774px;
    height: 434px;
    background-color: transparent;
    position: relative;
    top: 83px;
}
.leftSide-header{
    display: block;
}
.darkAndLight-buttons{
    display: flex;
    gap: 10px;
    color: #fff;
    position: relative;
    top: 120px;
}

.lightMode,
.darkMode {  
 color: #fff;
 background-color: transparent;
 border: none;
 border-radius: 32px;
 width: 90px;
 height: 32px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5px;
 cursor: pointer;
}
.darkMode{
    background-color: #11B0C8;
}
.darkAndLight-buttons svg{
 background-color: transparent;
}
.saiba{
    font-weight: 700; 
    font-size: 48px;
    position: relative;
    top: 50px;
    display: block;
}
.lugar{
    color: #11B0C8;
}
.personagens{
    font-weight: 300;
    font-size: 16px;
    position: relative;
    top: 100px;
    bottom: 50px;
}
.lista{
 color: #fff;
 background-color: #11B0C8;
 border: none;
 border-radius: 32px;
 width: 300px;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 right: 50px;
 top: -130px;
 padding: 5px;
 cursor: pointer;
}
.lista svg{
    background-color: #11B0C8;
}
.main-body{
    background-color: #313234;
}
.searchBox{
 display: flex;
 margin-left: 30px;
 background-color: #313234;
 padding-top: 66px;
 z-index: 9999;
 cursor: pointer;
}
.searchBox input{
 width: 405px;
 height: 48px;
 border-radius: 32px;
 border: none;
 background-color: #1A1A1A;
 color: #E4F4F4;
 display: flex;
 padding-left: 10px;
 outline: none;
 cursor: pointer;
}
.searchBox svg{
    background-color: #1A1A1A;
    position: relative;
    left: -45px;
    top: 10px;
    cursor: pointer;
    color: #fff;
}
.filterBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #E4F4F4;
    gap: 10px;
    background-color: transparent;
    z-index: 10;
    position: relative;
    top: -40px;
}
.filterBox button{
    display: flex;
    align-items: center;
    background-color: #464749;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    padding: 5px;
    margin-right: 10px;
    gap: 10px;
    cursor: pointer;
}
.filtrar{
    background-color: #313234;
}

.filtrarButton svg{
    background-color: transparent;
}
.button:hover{
  transform: scale(1.1);
}
.button{
    transition: transform 0.3s ease;
}
.header-body button.active{
    background-color: #fff;
    color: #000000;
}

.filterBox button.active{
    background-color: #11B0C8;
    color: #fff;  
}
.personagens-card-box{
    width: 294px;
    height: 400px;
    background-color: #1A1A1A;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.personagens-card-box.active{
    background-color: #313234; 
}
.personagens-card-box img{
    width: 262px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
}
.personagens-card-box svg{
    background-color: transparent;
}
.firstAndLastName{
    padding-bottom: 16px;
}
.saibaMais{
    background-color: #313234;
    width: 115px;
    height: 32px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 20px;
    left: 150px;
    color: #fff;
    cursor: pointer;
}
.saibaMais.active{
    background-color: #11B0C8;
    color: #ffffff;
}
.saibaMais:hover{
     transform: scale(1.3);
     transition: transform 0.3s ease;
}
.topic-personagens,
.topic-episode,
.topic-local{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: 10px;
    left: 30px;
}
.personagensBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.episode-card-box{
    width: 235px;
    height: 96px;
    border-radius: 16px;
    background-color: #1A1A1A;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12px;
    gap: 20px;
}
.episodeNameNumBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

.episodeSaibaMais{
    background-color: #313234;
    width: 100px;
    height: 26px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}
.episodeSaibaMais.active{
    background-color: #11B0C8;
    color: #fff;
}
.episodeSaibaMais:hover{
     transform: scale(1.3);
     transition: transform 0.3s ease;
}
.episodeButtonsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}
.episodeBox{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: 10px;
 margin: 5px;
}
.local{
    width: 147px;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    border-radius: 16px;
    align-items: center;
    margin-top: 80px;
    margin-left: 10px;
    position: relative;
    color: #fff;
    gap: 15px;
    font-size: 12px;
}
.svg-planet{
 background-color: transparent;
 position: relative;
 top: -25px;
}
.svg-planet svg{
   background-color: transparent; 
}
.planetName{
    color: #11B0C8;
    margin-left: 10px;
}
.planetSaibaMais{
    background-color: #313234;
    width: 115px;
    height: 32px;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
}
.planetSaibaMais svg{
    background-color: transparent;
}
.planetSaibaMais:hover{
     transform: scale(1.3);
     transition: transform 0.3s ease;
}
.localBox{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-left: 10px;
}
.footerTxt{
    color: #fff;
    font-size: 16px;
    margin: 24px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desen{
    margin-left: 930px;
    gap: 10px;
}
.footerSlash {
  width: 100%;
  margin-left:50px;
}

#person.active,
#local.active,
#episode.active {
    background-color: #11B0C8;
    color: #fff;
}
.paginationCharacter-box,.paginationEpisode-box,.paginationLocal-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px 50px;
}
.paginationButtonEpisode,
.paginationButtonLocal,
.paginationButtonCharacter,.prev,.next,.nextLocal,.prevLocal,.prevEpisode,.nextEpisode{
   background-color: transparent;
   border: 1px #ffffff solid;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor: pointer; 
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
}
.prev,.next,.nextLocal,.prevLocal,.prevEpisode,.nextEpisode {
    border: none;
}
.paginationButtonEpisode.active,
.paginationButtonLocal.active,
.paginationButtonCharacter.active {
    background-color: #11B0C8;
    color: #fff;
}
.hidden{
 display: none;
}
.type,.planet{
    color: #ffffff;
}
.scrollUp{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    float: right;
    margin-right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-bottom: 100px;
    font-weight: 900;
    gap: 10px;
}
.scrollUp svg:hover{
 transform: scale(1.2);
 transition: 0.3s ease;
}
.preFooterSvg{
    margin-left: 50px;
}
